*{/* Iniciando a pagina com 0 para evitar configuranções globais dos navegadores.*/
    margin: 0; 
    padding: 0;
}

body{
    box-sizing: border-box;
    width: 100%;
}

.informacao{
    display: flex; /*colocar tudo lado a lado*/
    align-items: center; /* alinhar tudo no meio da pagina */
    justify-content: space-around; /*colocar 3 itens um a baixo do outro e o ultimo ao lado */
    padding: 5%;

}

.informacao__conteudo {
    width: 615px; /* Tamanho do texto */
    display: flex; /*Colocando os textos lado a lado */
    flex-direction: column; /* colocando os textos em forma de coluna um a baixo do outro*/
    gap: 40px; /* dando um espaço de 60px em cada um deles no caso dando espaço nos 2 textos*/
}


.informacao__conteudo__titulo{
    font-size: 36px; /* Alterando o tamanho da fonte */
    font-family: var(--fonte-princial); /* Alterando a fonte que ja importamos no outro style*/
}

.titulo-destaque{
    color: var(--cor-terciaria);
}


.informacao__conteudo__texto{
    font-size: 24px;
    font-family: var(--fonte-secundaria);

}

.informacao__conteudo__imagem{
    width: 40%;
    height: 40%;
    border-radius: 10%;
}

.rodape__fixo{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    color: var(--cor-princial);;
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 400;
    

}